

<form class="needs-validation" novalidate>
    <div class="row">
        <div class="col-4 p-3">
            <label for="fullName">Full name</label>
            <input type="text" class="form-control" id="fullName" value="" required>
            <div class="valid-tooltip">
              Looks good!
            </div>
        </div>
        <div class="col-4 p-3">
            <label for="date">Date of birth</label>
            <input type="text" class="form-control" id="date" value="" required>
            <div class="valid-tooltip">
              Looks good!
            </div>
        </div>
        <div class="col-4 p-3">
            <label for="contact">Contact number</label>
            <input type="text" class="form-control" id="contact" value="" required>
            <div class="valid-tooltip">
              Looks good!
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4 p-3">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" value="" required>
            <div class="valid-tooltip">
              Looks good!
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 p-3">
            <label for="skill">Skills</label>
            <input type="text" class="form-control" id="skill" value="" required>
            <div class="valid-tooltip">
              Looks good!
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-2 text-center">
        <button class="btn btn-primary p-3" type="submit"><i class="fa fa-floppy-o fa-3x" aria-hidden="true"></i></button>
      </div>
    </div>
  </form>


