<table class="table">
    <thead>
        <tr>
            <th scope="col-2">ID</th>
            <th scope="col-2">Name</th>
            <th scope="col-2">Date of birth</th>
            <th scope="col-2">Contack</th>
            <th scope="col-2">Email</th>
            <th scope="col-1"></th>
            <th scope="col-1"></th>
        </tr>
    </thead>
    <tbody>
     <tr *ngFor="let c of candidateList">
            <td scope="col-2">{{c.id}}</td>
            <td scope="col-2">{{c.name}}</td>
            <td scope="col-2">{{c.dateOfBirth}}</td>
            <td scope="col-2">{{c.contactNumber}}</td>
            <td scope="col-2">{{c.email}}</td>
            <td><button class="btn btn-link"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></button></td>
            <td><button class="btn btn-link "><i class="fa fa-trash fa-2x" aria-hidden="true"></i></button></td>
    </tr>
    </tbody>
</table>